@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Raleway, sans-serif;
    text-align: center;
    padding: 0px; 
    margin: 0px;
    visibility: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    height: 4rem;
    align-items: center;
    box-shadow: 0 0 8px 2px #0000004d;
    z-index: 1;
}

header h1 {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0;
    display: flex; /* Make it a flex container */
    align-items: center; /* Vertically align items in the middle */
    gap: 20px; /* Add some space between the button and the text */
    padding-left: 0px; /* Add padding to the left for the button to not hug the edge */
    position: relative; /* Needed if you want to absolutely position elements relative to h1 later */
}

main {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
